In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('life.csv')

In [5]:
data

                country continent  lifeExp       pop     gdpPercap
0           Afghanistan      Asia   43.828  31889923    974.580338
1               Albania    Europe   76.423   3600523   5937.029526
2               Algeria    Africa   72.301  33333216   6223.367465
3                Angola    Africa   42.731  12420476   4797.231267
4             Argentina  Americas   75.320  40301927  12779.379640
..                  ...       ...      ...       ...           ...
137             Vietnam      Asia   74.249  85262356   2441.576404
138  West Bank and Gaza      Asia   73.422   4018332   3025.349798
139         Yemen, Rep.      Asia   62.698  22211743   2280.769906
140              Zambia    Africa   42.384  11746035   1271.211593
141            Zimbabwe    Africa   43.487  12311143    469.709298

[142 rows x 5 columns]